/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
/* html,
body {
  height: 100%;
} */

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(0deg, #110523 50% 88%, #5f1a3c);
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*** Start Navigation ***/
nav {
  background-image: url("./assets/nav-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 120px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav .main-heading {
  padding: 1em;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav .logo-signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

nav .logo-signup .logo {
  width: 8em;
  position: relative;
  left: -10px;
}

nav .logo-signup .signup-btn {
  cursor: pointer;
  padding: 6px 24px;
  font-size: 0.6em;
  font-weight: 900;
  border-style: none;
  border-radius: 20px;
  color: white;
  background: linear-gradient(90deg, rgb(201, 45, 122) 0%, rgb(238, 110, 98) 100%);
}

nav h1 {
  font-size: 1.35em;
  line-height: normal;
}

/*** End Navigation ***/

/*** Start Main Section ***/
.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#livestreams-list>p,
#creator-highlights>p {
  text-align: center;
  font-weight: bold;
}

#livestreams-list .collections ul,
#creator-options .creator-options-list ul,
#creator-options .creator-options-mobile-list ul,
#creator-highlights .social-media-list ul {
  margin: 0;
  padding: 0;
}

#livestreams-list .collections ul li {
  font-weight: 900;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em auto;
  padding: 0.5em 0.4em;
  list-style: none;
  background-color: #2e1e3b;
  border-radius: 15px;
}

#livestreams-list .collections img {
  width: 3em;
  border: solid 3px rgba(31, 13, 59, 0.411);
  border-radius: 12px;
}

#livestreams-list .collections div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#livestreams-list .collections .collect-btn {
  cursor: pointer;
  padding: 6px 12px;
  border-style: none;
  border-radius: 20px;
  color: white;
  background: linear-gradient(90deg, rgb(201, 45, 122) 0%, rgb(238, 110, 98) 100%);
}

#livestreams-list,
#creator-options,
#creator-highlights {
  width: 100%;
  margin: 1em 0;
}

#creator-options .creator-options-list {
  display: none;
}

#creator-options .creator-options-list ul a,
#creator-options .creator-options-mobile-list ul a {
  text-decoration: none;
  color: white;
}

#creator-options .creator-options-list ul a li,
#creator-options .creator-options-mobile-list ul a li {
  text-align: center;
  font-weight: 900;
  font-size: 0.8rem;
  margin: 1em auto;
  padding: 0.8em 0.4em;
  list-style: none;
  background: linear-gradient(90deg, rgb(201, 45, 122) 0%, rgb(238, 110, 98) 100%);
  border-radius: 20px;
}

#creator-options .creator-options-list ul a:last-child li {
  display: flex;
  justify-content: center;
}

#creator-options .creator-options-list ul a:last-child li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url('./assets/sail-boat.png');
  background-size: cover;
}

#creator-highlights .highlight-list div {
  margin: 1em auto;
  border: solid 3px rgba(31, 13, 59, 0.411);
  border-radius: 12px;
}

#creator-highlights .highlight-list div img {
  border-radius: 12px;
}

#creator-highlights .highlight-list div:last-child {
  display: none;
}

.social-media-list ul {
  display: flex;
  justify-content: space-between;
}

.social-media-list ul a li {
  color: white;
  border: solid 2px;
  width: 40px;
  height: 40px;
  list-style: none;
  border-radius: 20px;
  padding: 10px;
}

/*** End Main Section ***/

/*** Start Button Element State Modification ***/
nav .logo-signup .signup-btn:hover,
nav .logo-signup .signup-btn:focus,
#livestreams-list .collections .collect-btn:hover,
#livestreams-list .collections .collect-btn:focus {
  background: linear-gradient(180deg, rgb(201, 45, 122) 0%, rgb(238, 110, 98) 100%);
}

nav .logo-signup .signup-btn:focus,
#livestreams-list .collections .collect-btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

nav .logo-signup .signup-btn:active,
#livestreams-list .collections .collect-btn:active {
  transform: scale(0.97);
}

/*** End Button Element State Modification ***/

@media screen and (min-width: 768px) {
  /*** Start Nav Section ***/
  nav {
    height: 160px;
  }

  nav .main-heading {
    padding: 1em 0;
  }

  nav .logo-signup {
    width: 100%;
  }

  nav .logo-signup .logo {
    width: 10em;
    position: relative;
    left: -10px;
  }

  nav .logo-signup .signup-btn {
    font-size: 1em;
  }

  nav h1 {
    font-size: 1.4em;
  }
  /*** Start Nav Section ***/

  /*** Start Main Section ***/
  #livestreams-list .collections ul li {
    max-width: 500px;
  }

  #livestreams-list .collections img {
    width: 4em;
  }

  #livestreams-list .collections div {
    width: 85%;
  }

  #livestreams-list,
  #creator-options,
  #creator-highlights {
    width: 100%;
    margin: 1em 0;
  }

  #creator-options .creator-options-list {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  #creator-options .creator-options-mobile-list {
    display: none;
  }

  #creator-highlights .highlight-list {
    max-width: 500px;
    margin: 0 auto;
  }

  #creator-highlights .highlight-list div,
  #creator-highlights .social-media-list div {
    max-width: 80%;
    margin: 1em auto;
  }

  #creator-highlights .highlight-list div:last-child img {
    display: block;
  }

  .social-media-list {
    max-width: 500px;
    margin: 0 auto;
    /* display: none; */
  }

  /*** End Main Section ***/
}